<!DOCTYPE html>
<html lang="en">

<style>
	body {
		font-family: 'Open Sans', sans-serif !important;

	}
	.nav.navbar-nav {
		background-color: rgba(255,255,255,0.08) !important;
	}
	.navbar-custom ul.nav li a {
		color: rgba(255,255,255,0.8) !important;
	}
	.intro .slogan h2 {
		letter-spacing: 2px !important;
	}
	h2 {
		/*color: #000 !important;*/
		/*font-size: 20px !important;*/
		font-weight: lighter !important;
		letter-spacing: 2px;
	}
	h3 {
		/*color: #000 !important;*/
		font-size: 17px !important;
		font-weight: lighter !important;
	}
	h4 {
		color: #999 !important;
		/*font-weight: 100 !important;*/
	}
	p {
		font-size: 13px !important;
	}
	.about {
		font-size: 15px !important;
		letter-spacing: 1px !important;
	}
	.department {
		font-size: 13px !important;
		opacity: 0.5 !important;
		position: relative;
		top: -15px !important;
		/*color: rgba(190,190,190,1) !important;*/
		/*font-weight: bold !important;*/
		text-transform: uppercase !important;
	}
	.intro {
		background-image: none !important;
		/*background-color: rgba(0,0,0,0) !important;*/
	}
	.top-nav-collapse {
		background-color: black !important;
	}
	footer {
		background-color: black !important;
	}
	#camb_map  { 
		position: absolute; 
		top: 0px; 
		width: 100%; 
		background-color: #000;
		/*z-index: -10;*/
		height: 100%;
	}
	.navbar {
		top: 0px !important;
	}
	.intro .slogan h2 {
		text-shadow: none !important;
		font-weight: 300;
	}
	.intro .slogan h4 {
		text-shadow: none !important;
	}
	.position {
		color: rgba(190,190,190,1) !important;;
	}
	.page-scroll a.btn-circle {
		margin-bottom: 40px;
	}
	.boxed-grey {
		/*height: 230px !important;*/
	}
	footer {
		padding: 15px !important;
		padding-top: 30px !important;
	}
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Underworlds</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	
    <!-- Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="css/animate.css" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,3…italic,400italic,700italic,900italic|Montserrat:600,400|Merriweather:400italic" rel='stylesheet' type='text/css'>
    <!-- Squad theme CSS -->
    <link href="css/style.css" rel="stylesheet">
	<link href="color/default.css" rel="stylesheet">

	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />

</head>



<div id='camb_map'></div>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	<!-- Preloader -->
	<div id="preloader">
	  <div id="load"></div>
	</div>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">
                    <h1>Underworlds</h1>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#intro">Home</a></li>
        <li><a href="#about">About</a></li>
		<li><a href="#service">Service</a></li>
		<li><a href="#contact">Team</a></li>
      </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

	<!-- Section: intro -->
	<!-- <div id='camb_map'></div> -->

    <section id="intro" class="intro">

    	<!-- <div id='camb_map'></div> -->
	
		<div class="slogan">
			<h2>UNDERWORDLS</span> </h2>
			<h4>WHAT IS IN OUR COLLECTIVE GUT?</h4>
		</div>

		<div class="page-scroll">
			<a href="#about" class="btn btn-circle">
				<i class="fa fa-angle-double-down animated"></i>
			</a>
		</div>

    </section>

	<!-- /Section: intro -->

	<!-- Section: about -->
    <section id="about" class="home-section text-center" style="background-color:white">
		<div class="heading-about">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<!-- <div class="wow bounceInDown" data-wow-delay="0.4s"> -->
					<div class="section-heading">
					<h2>About</h2>
					<!-- <i class="fa fa-2x fa-angle-down"></i> -->

					</div>
					<!-- </div> -->
				</div>
			</div>
			</div>
		</div>
		<div class="container">

		<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="marginbot-50">
			</div>
		</div>
        <div class="row">
            <div class="col-sm-6 col-md-6" style="text-align:left;">
            <div class="about">
				Real-time urban epidemiology is within reach, thanks to the possibility to analyze and scan sewage for genetic and chemical information. To exploit this untapped rich source of information, tailored physical, biochemical, and computational infrastructure must be put into place. In addition, key validation experiments are required to establish the validity of the platform. These efforts are described herein.
				<br><br>
				Underworlds is a highly innovative project. As such, no pre-existing model for establishing a smart sewage infrastructure exists. The project’s activities are organized for this reason into two distinct parts: (i) building the smart sewage infrastructure, and (ii) development and deployment of pilot applications. 
			</div>

            </div>
			<div class="col-sm-6 col-md-6" style="text-align:left">
			<div class="about">
				The first aim of Underworlds is to assemble the infrastructure needed to mine sewage and gather chemical and biological data, and the second aim is to use this infrastructure to implement a set of foundational applications, as identified together with representatives of Kuwaiti public institutions during our April 2014 Stakeholders Workshop. 

				<br><br>
				These applications will be led by a multi-departmental team of MIT researchers, which includes Senseable City Lab (DUSP), Alm Lab (BE/CEE), Runstandler Lab (BE), Polz Lab (CEE), Prof. Eltahir (CEE), and Distributed Robotics Lab (CSAIL).
			</div>
        </div>		
		</div>
	</section>
	<!-- /Section: about -->
	

	<!-- Section: services -->
    <section id="service" class="home-section text-center bg-gray">
		
		<div class="heading-about">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<!-- <div class="wow bounceInDown" data-wow-delay="0.4s"> -->
					<div class="section-heading">
					<h2>Services</h2>
					<!-- <i class="fa fa-2x fa-angle-down"></i> -->

					</div>
					<!-- </div> -->
				</div>
			</div>
			</div>
		</div>
		<div class="container">
		<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="marginbot-50">
			</div>
		</div>
        <div class="row">
            <div class="col-sm-3 col-md-3">
				<!-- <div class="wow fadeInLeft" data-wow-delay="0.2s"> -->
                <div class="service-box">
					<div class="service-icon">
						<img src="img/icons/service-icon-1.png" alt="" />
					</div>
					<div class="service-desc">
						<h5>Print</h5>
						<p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
					</div>
                </div>
				<!-- </div> -->
            </div>
			<div class="col-sm-3 col-md-3">
				<!-- <div class="wow fadeInUp" data-wow-delay="0.2s"> -->
                <div class="service-box">
					<div class="service-icon">
						<img src="img/icons/service-icon-2.png" alt="" />
					</div>
					<div class="service-desc">
						<h5>Web Design</h5>
						<p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
					</div>
                </div>
				<!-- </div> -->
            </div>
			<div class="col-sm-3 col-md-3">
				<!-- <div class="wow fadeInUp" data-wow-delay="0.2s"> -->
                <div class="service-box">
					<div class="service-icon">
						<img src="img/icons/service-icon-3.png" alt="" />
					</div>
					<div class="service-desc">
						<h5>Photography</h5>
						<p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
					</div>
                </div>
				<!-- </div> -->
            </div>
			<div class="col-sm-3 col-md-3">
				<!-- <div class="wow fadeInRight" data-wow-delay="0.2s"> -->
                <div class="service-box">
					<div class="service-icon">
						<img src="img/icons/service-icon-4.png" alt="" />
					</div>
					<div class="service-desc">
						<h5>Cloud System</h5>
						<p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
					</div>
                </div>
				<!-- </div> -->
            </div>
        </div>		
		</div>
	</section>
	<!-- /Section: services -->
	

	

	<!-- Section: contact -->
    <section id="contact" class="home-section text-center">
		<div class="heading-contact">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<!-- <div class="wow bounceInDown" data-wow-delay="0.4s"> -->
					<div class="section-heading">
					<h2>Team</h2>
					<!-- <i class="fa fa-2x fa-angle-down"></i> -->

					</div>
					<!-- </div> -->
				</div>
			</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-lg-offset-5">
					<hr class="marginbot-50">
				</div>
			</div>

			<div class="row centered">
				
				
				<div class="col-lg-4 description boxed-grey" style="height: 245px">
					<h3>Senseable City Lab</h3>
					<p class="department">Department of Urban Studies and Planning</p>
					<p>
					Carlo Ratti<span class="position"> - Principal Investigator </span> <br>
					Yaniv Turgeman<span class="position"> - Research Lead </span><br>
					Newsha Ghaeli<span class="position"> - Project Manager </span><br>
					Youjin Shin<span class="position"> - Researcher</span><br>
					Franco Montalvo<span class="position"> - Researcher</span>
					</p>
				</div>

				<div class="col-lg-4 description">
					<h3>Alm Lab</h3>
					<p class="department">Department of Biological Engineering</p>
					<p>
					Eric Alm<span class="position"> - Principal Investigator</span><br>
					Mariana Matus<span class="position"> - Research Lead</span><br>
					Ilana Brito<span class="position"> - Post-Doctoral Researcher</span><br>
					</p>
				</div>

				<div class="col-lg-4 description boxed-grey" style="height: 245px">
					<h3>Runstadler Lab</h3>
					<p class="department">Department of Biological Engineering</p>
					<p>
					Jon Runstadler<span class="position"> - Co-Principal Investigator</span><br>
					Christopher Bandoro<span class="position"> - Graduate Researcher</span><br>
					</p>
				</div>
			</div>
			
			<!-- Second row -->
			<div class="row centered">
		
				<br><br>
				<div class="col-lg-4 description">
					<h3>Polz Lab</h3>
					<p class="department">Department of Civil and Environmental Engineering</p>
					<p>
					Martin Polz<span class="position"> - Co-Principal Investigator</span>
					</p>
				</div>

				<div class="col-lg-4 description boxed-grey" style="height: 185px">
					<h3>Eltahir Research Group</h3>
					<p class="department">Department of Civil and Environmental Engineering</p>
					<p>
					Elfatih Eltahir<span class="position"> - Co-Principal Investigator</span>
					</p>
				</div>

				<div class="col-lg-4 description">
					<h3>Computer Science and Artificial Intelligence Lab</h3>
					<p class="department">Department of Electrical Engineering and Computer Science</p>
					<p>
					Daniela Rus<span class="position"> - Co-Principal Investigator</span>
					</p>
				</div>

			</div>
		</div>


	</section>
	<!-- /Section: contact -->

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<!-- <div class="wow shake" data-wow-delay="0.4s"> -->
					<!-- <div class="page-scroll marginbot-30"> -->
						<!-- <a href="#intro" id="totop" class="btn btn-circle">
							<i class="fa fa-angle-double-up animated"></i>
						</a> -->
					<!-- </div> -->
					<!-- </div> -->
					<p>© 2013 MIT Senseable City Lab</p>
				</div>
			</div>	
		</div>
	</footer>

    <!-- Core JavaScript Files -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>	
	<script src="js/jquery.scrollTo.js"></script>
	<script src="js/wow.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.js"></script>
    <script src="js/main.js"></script>

</body>

</html>
