/*viz*/
#viz {
	text-align: center;
	padding-top: 85px;
	padding-bottom: 10px;
}

.dot {
	opacity: 0.7;
}

.bg { 
	stroke: white;
	stroke-width: 1;
}

.scaleText {
	font-family: sans-serif;
	font-size: 10px;
	fill: rgba(255,255,255,0.3);
	stroke: none;
	text-align: left;
}

.middleText0 {
	font-family: 'gotham_light' sans-serif;
	font-size: 15px;
	fill: rgba(255,255,255,0.7);
	stroke: none;
	text-align: left;
	letter-spacing: 2px;
	font-weight: lighter;
}

.middleText1 {
	font-family: 'gotham_light' sans-serif;
	font-size: 14px;
	fill: rgba(255,255,255,0.7);
	stroke: none;
	text-align: left;
	letter-spacing: 2px;
	font-weight: lighter;
}

.middleText2 {
	font-family: 'gotham_light' sans-serif;
	font-size: 12px;
	fill: rgba(180,180,180,0.6);
	stroke: none;
	text-align: left;
	letter-spacing: 2px;
	font-weight: lighter;
}

#tooltip {   
	background: rgba(21,32,45,0.7);
	border-color: rgba(21,32,45,0.7);

	letter-spacing: 1px;

	background-clip: padding-box;
	border-radius: 4px;
	border-style: solid;
	border-width: 4px;

	color: rgba(255,255,255,0.8);
	font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding: 1px 6px;
	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	z-index: 400;
	white-space: nowrap;
	text-transform:capitalize;
	visibility: hidden;
}